@font-face {
	font-family: headerFont;
	src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
	font-family: mainTextFont;
	src: url("../fonts/Roboto/Roboto-Light.ttf");
}

ul,li,p,span, button, input, optgroup, select, textarea {
	font-family: mainTextFont;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: headerFont;
    color: var(--dark-blue);
}
h1 {
    margin-top: 30px;
    text-align: center;
}

.side-padding {
    padding: 0 6vw !important;
}
.side-margin {
    margin: 0 6vw !important;
}
:root{
    --dark-blue: #002349;
    --grey: #999999;
    --outer-space: #404C56;
    --ash-grey: #CECECE;
    --white: #FFFFFF;
    --black: #000000;
}
/* ******************** Colour Settings ******************** */
.has-darkblue-color {
    color: var(--dark-blue);
}

.has-darkblue-background-color {
    background-color: var(--dark-blue);
}

.has-grey-color {
    color: var(--grey);
}

.has-grey-background-color {
    background-color: var(--grey);
}

.has-outerspace-color {
    color: var(--outer-space);
}

.has-outerspace-background-color {
    background-color: var(--outer-space);
}

.has-ashgrey-color {
    color: var(--ash-grey);
}

.has-ashgrey-background-color {
    background-color: var(--ash-grey);
}

.has-black-color {
    color: var(--black);
}

.has-black-background-color {
    background-color: var(--black);
}

.has-white-color {
    color: var(--white);
}

.has-white-background-color {
    background-color: var(--white);
}

/* ******************** HEADER ******************** */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    padding: 0 2.5rem;
    align-items: center;
    background-color: white;
}
header section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
}
/* change styling on a of current page on nav */
#primary-menu .current-menu-item a,
#primary-menu .current_page_item a {
    font-weight: 600;
}
#primary-menu a {
    color: var(--dark-blue);
    font-weight: 500;
    font-size: 18px;
}
#primary-menu a:hover {
    font-weight: 600;
}

#primary-menu a:active {
    font-weight: 600;
}

#primary-menu ul {
    list-style: none;
}
#logo {
    width: 100%;
    min-width: 100px;
    max-width: 250px;
}
.social-media {
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
}

.social-media img, .social-media-footer img {
    max-width: 25px;
    margin-right: 10px;
    height: 100%;
}
.title-bar {
    background-color: white;
}
.menu .active > a {
    color: var(--dark-blue);
    background: none;
}

#ap-wrapper {
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top:0;
    left:0;
    z-index: 9999;
    /* box-shadow: 4px 4px 8px #f5f5f5,
        -4px -4px 8px #ffffff; */
}

#ap-wrapper-inner{
    width: 100%;
    height: 100%;
}


/* WHOLE CONTENT AREA */
#ap-content-wrapper {
    margin: 0 auto;
    position: relative;
}
#ap-content {
    display: flex;
    justify-content: center;
    min-height: 80vh;
}
/* ******************** DROPDOWN MENU ******************** */

#cssmenu > ul > li > a {
	position: relative;
}
#cssmenu > ul > li > a:hover {
	background: var(--grey);
	color: var(--dark-blue);
}
/* submenu styles */
#cssmenu > ul > li.has-sub {
    position: relative;
}
/* arrow */
#cssmenu > ul > li.has-sub > a:before {
	content: '';
	position: absolute;
	top: 18px;
	right: 6px;
	border: 5px solid transparent;
	border-top: 5px solid var(--dark-blue);
}
/* arrow on menu */
#cssmenu > ul > li.has-sub:hover > a:before {
    transform: rotate(-90deg) translate(50%, -50%);
    top:50%;
}
/* show submenu on li hover */
#cssmenu ul li.has-sub:hover > ul,
#cssmenu ul li.has-sub:hover > div {
    display: block;
    position: absolute;
    left:-7%;
    z-index: 99999999;
}
/* submenu block */
#cssmenu ul li > ul,
#cssmenu ul li > div {
	display: none;
	width: auto;
	position: absolute;
	top: 38px;
	background: var(--white);
	border-radius: 0 0 5px 5px;
    z-index: 99999999;
    box-shadow: 2px 2px 5px 5px #ACB4B620;
}
#cssmenu ul li > ul {
	width: 200px;
}
#cssmenu ul li > ul li {
	display: block;
	list-style: inside none;
	padding: 5px 0;
	margin: 0;
    position: relative;
    z-index: 99999999;
}
/* submenu text */
#cssmenu ul li > ul li a {
	outline: none;
	display: block;
	position: relative;
	margin: 0;
    padding: 8px 20px;
    font-size: 18px;
	color: var(--dark-blue);
	text-decoration: none;
}
#cssmenu ul li > ul li:hover{
    background-color: var(--grey);
    z-index: 99999999;
}


nav{
    background-color: white;
}
/* ******************** FRONT PAGE TEMPLATE ******************** */
.front-page {
    width: 100%;
    height: 100%;
}

#ap-content div.front-page main{
    padding-left: 5vw !important;
    padding-right: 5vw !important;
}
#ap-content div.front-page main:first-child {
    padding-left: 0vw !important;
    padding-right: 0vw !important;
}

#gallery-title-wrapper h3{
    text-align: center;
}
/* ******************** LEFT-FEATURE TEMPLATE ******************** */

#left-feature-ap-primary {
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    padding: 5rem;
}
#left-feature-ap-main{
    margin: auto;
}
.left-feature-image {
    background-position: center center;
    background-size: cover;
    min-height: 60vh;
}
.left-feature-content{
    padding: 2rem;
}
.left-feature-content h1{
    text-align: center;
}

/* ******************** GALLERY ALBUM PAGE ******************** */
#gallery-ap-primary {
    /* min-height: 100vh; */
    width: 100%;
}
.gallery-content {
    height: 100%;
    width: 100%;
}
#gallery-title-wrapper {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gallery-albums-wrapper{
    margin: 0 auto;
}
#gallery-albums-inner-wrapper{
    max-width: 1100px;
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.single-album-wrapper{
    padding: 20px;
    margin: 3% 0;
}
.single-album-inner-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.single-album-inner-wrapper img {
    height: auto;
}
.album-title{
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    padding: 10px;
}
.album-image{
    width: 100%;
    height: 216px;
    overflow: hidden;
}
.album-image img{
    width: 100%;
    min-height: 216px;
}




/* ******************** ALBUM POST TYPE SINGLE PAGE ******************** */
/* .single-album-page-main{
    padding: 1rem 4rem;
} */
.albumToShopBtn {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: var(--ash-grey);
    color: var(--white);
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.albumToShopBtn img {
    width: 50px;
    height: 50px;
}
/* ******************** SIMPLE LIGHTBOX PLUGIN ******************** */
/* file name caption */
#slb_viewer_wrap .slb_theme_slb_baseline * {
    font-size: 75%;
    color: var(--outer-space);
}
/* lightbox main container */
.slb_container {
    box-shadow: 0 0 0 0 #00000000 !important;
    /* border-radius: 0; */
}
/* dark theme container */
#slb_viewer_wrap .slb_theme_slb_black .slb_container{
    background-color: #000 !important;
}
/* back container */
#slb_viewer_wrap .slb_theme_slb_default .slb_container{
    padding: 3px !important;
    border-radius: 0px !important;
}
/* image data on bottom of container */
.slb_data_content {
    display: none !important;
}




/* ******************** BLOG ******************** */
.blogCard {
    align-self: center;
    display: flex;
    border: 1px solid var(--ash-grey);
}

.blogCard h3 {
    text-align: center;
}

.blogCard a {
    color: var(--dark-blue);
}

.blogCard a:hover {
    font-weight: 600;
}

.blogBtn {
    align-self: flex-end;
    float: right;
}

.blog-posts-box {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.blogSection {
    display: flex;
    justify-content: center;
}

.singlePage {
    margin: auto 4rem;

}

.singlePage h1 {
    text-align: left;
}
.entry-content{
    margin: auto 4rem;
}
/* removes updated date on blog entries, to avoid a double date */
.updated{
    display: none;
}
/* ******************** BLOCK  ******************** */

.alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    max-width: 100vw;
}

/* ******************** SLIDER ******************** */
.wp-block-nextend-smartslider3{
    margin-bottom: 30px;
    width: 100vw;
}
/* ******************** INFO CUSTOM PAGE ******************** */
.infoPage {
    padding: 20px 20% 0 20%;
    min-height: 85vh;
    display: flex;
    align-items: center;
}

.infoPage h1 {
    text-align: center;
}
/* ******************** WOOCOMMERCE ******************** */
.page .product {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.woocommerce img {
    border: 1px solid var(--dark-blue);
}

.woocommerce a {
    text-align: center;
}


.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    border: 2px solid;
    border-color: var(--ash-grey) var(--ash-grey) var(--outer-space);
    background-color: white;
    font-size: 14px;
    color: var(--dark-blue);
    align-self: center;
}

.woocommerce a.button:hover {
    background-color: white;
    transform: translate(-2px, -2px);
    box-shadow: 4px 4px 8px #DCDCDC,
        -4px -4px 8px #ffffff;
}

.woocommerce ul.products li.product .price {
    color: var(--outer-space);
}

.page-numbers {
    color: var(--dark-blue);
    background-color: white;
}

.page-numbers span:hover {
    background-color: red;
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
    border: 1px solid var(--ash-grey);
    background-color: white;
    color: var(--dark-blue);
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    border: 2px solid;
    border-color: var(--ash-grey) var(--ash-grey) var(--outer-space);
    background-color: white;
    color: var(--dark-blue);
    height: 40px;
}

/* hover effect on shop button */
.woocommerce button.button.alt:hover {
    background-color: white;
    transform: translate(-2px, -2px);
    box-shadow: 4px 4px 8px #DCDCDC,
        -4px -4px 8px #ffffff;
    color: var(--dark-blue);
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
    border: 2px solid;
    border-color: var(--ash-grey) var(--ash-grey) var(--outer-space);
    background-color: white;
    color: var(--dark-blue);
}

/* hiding product description */
.woocommerce-tabs {
    display: none;
}

.sku_wrapper {
    display: none;
}

/* My Account Page styling */
.woocommerce-MyAccount-navigation ul {
    list-style-type: none;
    color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.woocommerce-MyAccount-navigation li {
    border: 2px solid;
    border-color: var(--ash-grey) var(--ash-grey) var(--outer-space);
    background-color: white;
    color: var(--dark-blue);
    width: 250px;
    margin: 15px;
    text-align: center;
}

.woocommerce-MyAccount-navigation a {
    color: var(--dark-blue);

}

.woocommerce-MyAccount-navigation li:hover {
    color: var(--dark-blue);
    font-weight: 600;
    transform: translate(-2px, -2px);
    box-shadow: 4px 4px 8px #DCDCDC,
        -4px -4px 8px #ffffff;
}

/* taking out grey background colour of info box */
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    background-color: white;
}

.related .products {
    display: none;
}

.related h2 {
    display: none;
}

/* targeting price colour */
.woocommerce-Price-amount {
    color: var(--dark-blue);
}
/* product photo */
.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images{
    width: 70%;
    /* margin-right: 1rem; */
}

.nav-links{
    display: none;
}
/* product info */
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary{
    width: 25%;
}
/* cart button */
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover
{
    background-color: var(--grey);
}
/* cart update message */
.woocommerce-message{
    border-top-color: var(--dark-blue);
}
/* cart update checkmark */
.woocommerce-message::before{
    color: var(--dark-blue);
}
/* ******************** CONTACT FORM ******************** */
#wsf-1-field-2,
#wsf-1-field-1,
#wsf-1-field-3,
#wsf-1-field-4,
#wsf-1-field-5 {
    border: 2px solid;
    border-color: var(--ash-grey) var(--ash-grey) var(--outer-space);
}
input[type=checkbox].wsf-field + label.wsf-label:before {
    border: 1px solid;
    border-color: var(--ash-grey) var(--ash-grey) var(--outer-space);
}
/* ******************** FOOTER ******************** */
.site-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: var(--dark-blue);
    padding: 5px 15px;
    border-top: 1px solid var(--ash-grey);
    max-height: 150px;
}

footer .menu a {
    color: var(--dark-blue);
    font-weight: 500;
    font-size: 16px;
    padding: 0.5rem 1rem;
}

footer a:hover {
    color: var(--dark-blue);
    font-weight: 600;
}

.site-info {
    align-self: flex-end;
}
footer .menu{
    flex-direction: row;
}
.menu-mobile{
    display: none;
}

/* 1024px and lower */
@media screen and (max-width: 63.9375em) {
    #cssmenu ul li.has-sub:hover > ul,
    #cssmenu ul li.has-sub:hover > div {
    display: block;
    position: absolute;
    width: 95%;
    top:100%;
    /* bottom:0; */
    left:0px;
}
    /* ******************** LEFT-FEATURE PAGE ******************** */
    #left-feature-ap-primary {
        /* min-height: 100vh; */
        display: flex;
        align-items: flex-start;
        padding: 0rem;
    }
    .left-feature-image{
        min-height: 20vh;
    }
    .left-feature-content{
        padding: 2rem 1.5rem;
    }
}

/* mobile only */
@media screen and (max-width: 39.9375em) {

    .single-album-wrapper{
        display: flex;
        flex-direction: column;
        justify-self: center;
        padding: 50px;
    }
    /* making mobile nav vertical */
    .menu, .menu.horizontal{
        flex-direction: column;
    }
    #primary-menu{
        width: 80vw;
    }
}

@media print,
screen and (max-width:64em) {
    .menu-mobile{
        display: flex;
        background-color: var(--ash-grey);
        width: 80vw;
        padding: 5px;
        justify-content: center;
    }
    header{
        display: flex;
        flex-direction: column;
    }
    .site-footer {
        flex-direction: column;
        padding: 1rem 0.5rem;
        max-height: fit-content;
    }
    footer .menu a{
        font-size: 0.9rem;
    }
    .site-info {
        margin-top: 1rem;
        align-self: center;
        color: var(--grey);
    }
    /* making mobile nav vertical */
    /* .menu, .menu.horizontal{
        flex-direction: column;
    }
    #primary-menu{
        width: 80vw;
    } */
    .infoPage{
        padding: 10px;
    }
    .album-image{
        min-height: 200px;
    }
    #logo {
        display: none;
    }

    .social-media {
        display: none;
    }
    header {
        padding: 0px;
        width: 100%;
    }
    header section{
        width: 100%;
        background: white;
        justify-content: center;
    }
    nav{
        max-width: 100%;
    }
    #ap-wrapper {
        height: 6rem;
        min-width: 100vw;
    }

    .custom-logo {
        margin-top: 10px;
        max-width: 80vw;
    }

    .title-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
}

