@font-face {
	font-family: headerFont;
	src: url("../fonts/palatino-linotype.ttf");
}

@font-face {
	font-family: mainTextFont;
	src: url("../fonts/Roboto/Roboto-Light.ttf");
}

ul,li,p,span, button, input, optgroup, select, textarea {
	font-family: mainTextFont;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: headerFont;
}
