:root {
    --dark-green: #003C44;
    --slate-grey: #6C888D;
    --outer-space: #404C56;
    --ash-grey: #ACB4B6;
    --white: #FFFFFF;
    --black: #000000;
}

/* ******************** Colour Settings ******************** */
.has-darkgreen-color {
    color: var(--dark-green);
}

.has-darkgreen-background-color {
    background-color: var(--dark-green);
}

.has-slategrey-color {
    color: var(--slate-grey);
}

.has-slategrey-background-color {
    background-color: var(--slate-grey);
}

.has-outerspace-color {
    color: var(--outer-space);
}

.has-outerspace-background-color {
    background-color: var(--outer-space);
}

.has-ashgrey-color {
    color: var(--ash-grey);
}

.has-ashgrey-background-color {
    background-color: var(--ash-grey);
}

.has-black-color {
    color: var(--black);
}

.has-black-background-color {
    background-color: var(--black);
}

.has-white-color {
    color: var(--white);
}

.has-white-background-color {
    background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--dark-green);
}

/* ******************** Nav Styling ******************** */
header {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* width: 20%; */
    z-index: 99;
    padding: 60px 5px 0 5px;
}

#primary-menu a {
    color: var(--dark-green);
    font-weight: 500;
    font-size: 18px;
}

#primary-menu a:hover {
    font-weight: 600;
}

#primary-menu ul {
    list-style: none;
}

#logo {
    width: 100%;
}

.social-media {
    align-self: flex-end;
}

#ap-wrapper {
    background: #ffffff;
    box-shadow: 9px 9px 18px #f5f5f5,
        -9px -9px 18px #ffffff;
}

#ap-content {
    display: flex;
    justify-content: center;
}
.menu{
    flex-direction: column;
}
/* ******************** Blog Styling ******************** */
.blogCard {
    display: flex;
}

.blogBtn {
    align-self: flex-end;
}

.blogSection {
    display: flex;
    justify-content: center;
}

/* ******************** Informative Styling ******************** */
.infoPage {
    background-image: url("../img/trees.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 20px 20% 0 20%;
    min-height: 85vh;
}

.infoPage h1 {
    text-align: center;
}

/* ******************** Form Styling ******************** */
#wsf-1-field-2, #wsf-1-field-1, #wsf-1-field-3, #wsf-1-field-4, #wsf-1-field-5{
    border: 2px solid;
    border-color: var(--ash-grey) var(--ash-grey) var(--outer-space);
}