:root {
    --dark-green: #003C44;
    --slate-grey: #6C888D;
    --outer-space: #404C56;
    --ash-grey: #ACB4B6;
    --white: #FFFFFF;
    --black: #000000;
}

/* ******************** Colour Settings ******************** */
.has-darkgreen-color {
    color: var(--dark-green);
}

.has-darkgreen-background-color {
    background-color: var(--dark-green);
}

.has-slategrey-color {
    color: var(--slate-grey);
}

.has-slategrey-background-color {
    background-color: var(--slate-grey);
}

.has-outerspace-color {
    color: var(--outer-space);
}

.has-outerspace-background-color {
    background-color: var(--outer-space);
}

.has-ashgrey-color {
    color: var(--ash-grey);
}

.has-ashgrey-background-color {
    background-color: var(--ash-grey);
}

.has-black-color {
    color: var(--black);
}

.has-black-background-color {
    background-color: var(--black);
}

.has-white-color {
    color: var(--white);
}

.has-white-background-color {
    background-color: var(--white);
}

/* ******************** Nav Styling ******************** */
header {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    /* position: fixed; */
    z-index: 99;
    /* top: 0;
    left: 0; */
    /* overflow-x: hidden; */
    padding-top: 60px;
}

#primary-menu a {
    color: var(--dark-green);
    font-weight: 500;
    font-size: 18px;
}

#primary-menu a:hover {
    font-weight: 600;
}

#primary-menu ul {
    list-style: none;
}

.social-media {
    align-self: flex-end;
}
.blogCard{
    display: flex;
}
.blogBtn{
    align-self: flex-end;
}